<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title th:inline="text">[[${card.name}]]</title>
<link
	th:href="@{'/resources/themess/'+${#themes.code('themeName')}+'/bootstrap.min.css'}"
	rel="stylesheet" type="text/css" />


<link
	href="resources/bower_components/icomoon/font_cs30ft1kp7u/iconfont.css"
	rel="stylesheet" type="text/css" />
<script type="text/javascript"
	src="resources/bower_components/icomoon/font_cs30ft1kp7u/iconfont.js">
	</script>

<script type="text/javascript"
	src="resources/bower_components/axios/dist/axios.js">
	</script>
<script type="text/javascript"
	src="resources/bower_components/vue/dist/vue.js"></script>

<style type="text/css">
.pay1,.pay2,.pay3{
	height: 60px;
	width: 120px;
	display: inline-block;
	}
</style>
</head>
<body>
<!--个人信息  -->
		<div class="card">
				<div>
					<div th:replace="front/commen/top::top"></div>
				</div>
		</div>
	<div class="container">
		<!-- 帖子标题 -->
		<div class="card">
			<div class="card-body text-center" th:inline="text">
				<h2>[[${card.name}]]</h2>
				<hr />
				楼主：<img alt="" th:src="@{'/upload/'+*{user.photo}}"
					style="width: 30px"
					onerror="this.onerror='';src='/resources/userimage/default.jpg'" />[[${user.name}]]
				收藏：[[${card.praise}]]
				时间：[[${card.pubDate}!=null?${#dates.format({card.pubDate},'yyyy-MM-dd')}:'']]
				[[${session.user}!=null?${session.user.name}:'游客']]
			</div>
		</div>
		<!--帖子内容  -->
		<div class="card">
			<!-- 判断是否已经登录 -->
			<div th:if="${session.user!=null}">
				<!-- 判断是否已经收藏过 -->
				<div th:if="${collection==null}">
					<form th:action="@{collectionAdd}">
						<i class="icon iconfont icon-shoucang" id="icon-shoucang"></i> <input
							type="hidden" name="uid" th:value="${session.user.id}" id="uid1" />
						<input type="hidden" name="cid" th:value="${card.id}" id="cid1" />
						<input type="submit" value="收藏">
					</form>
				</div>

				<div th:unless="${collection==null}">
					<form th:action="@{collectionDel}">
						<i class="icon iconfont icon-shoucang" id="icon-shoucang"
							style="color: blue"></i> <input type="hidden" name="uid"
							id="uid2" th:value="${session.user.id}" /> <input type="hidden"
							name="cid" id="cid2" th:value="${card.id}" /> <input
							type="submit" value="取消收藏">
					</form>
				</div>
			</div>
			
			<div th:unless="${session.user!=null}">
				<!-- 没有登录弹出登录框 -->
				<form>
					<i class="icon iconfont icon-shoucang" id="icon-shoucang"></i>
					<!-- 	<input type="submit" value="收藏"> -->
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#exampleModalCenter"
						style="background-color: white; border: none; color: #4D4D4D; margin-top: 3px">收藏</button>

				</form>
					
			</div>
			

			<!-- 帖子的html -->
			<div class="card-body">
				<!-- <div th:src="@{'/upload/word/'+${outPut}}"> </div> -->
				<iframe th:src="@{'/upload/word/word/'+${outPut}}" width="1100"
					height="800" frameborder="0"></iframe>
		<!-- 帖子下载 -->
		<div th:if="${session.user!=null}" style="float: right;">
			<a th:href="@{'cardDown?carid='+${card.id}}">下载</a>
		</div>
		<div class="dashang">
				<!-- 打赏 -->								
					 <!-- 此处添加模态框 --> <!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" 
						style="background-color:white;color: #4D4D4D;border:none;margin-top: 3px">打赏</button>
						<!-- Modal -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalCenterTitle"
							aria-hidden="true" data-backdrop="false">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
								
									<div class="modal-header"
										style="background-color: rgba(73, 134, 208,0.7)">
										<h5 class="modal-title" id="exampleModalCenterTitle">
											<b style="font-style: inherit; color: white;">听说打赏我的小可爱们都不会掉头发哦</b>
										</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<!-- 模态对话框内容 -->
											<div class="pay1" style="margin: 20px;">
												<button type="button" class="btn btn-outline-primary"onclick="showImg1()" style="margin:10px 15px ">打赏0.01</button>											
												<div class="bg_img" style="background:#191919;opacity:0.8;display:none;position:fixed;width:100%;height:100%;"></div>
												<img class="img" src="resources/img/pay001.png" style="display:none;position:absolute;top:10%;left:0;width:80%"/>												
											</div>	
											<div class="pay2" style="margin: 20px 0px">
												<button type="button" class="btn btn-outline-primary"onclick="showImg2()"style="margin:10px 15px ">打赏0.02</button>											
												<div class="bg_img" style="background:#191919;opacity:0.8;display:none;position:fixed;width:100%;height:100%;"></div>
												<img class="img" src="resources/img/pay002.png" style="display:none;position:absolute;top:10%;left:0;width:100%"/>	
											</div>
											<div class="pay3"style="margin: 20px">
												<button type="button" class="btn btn-outline-primary"onclick="showImg3()" style="margin:10px 15px ">打赏0.03</button>											
												<div class="bg_img" style="background:#191919;opacity:0.8;display:none;position:fixed;width:100%;height:100%;"></div>
												<img class="img" src="resources/img/pay003.png" style="display:none;position:absolute;top:10%;left:0;width:100%"/>	
											</div>																																			
										
											
									</div>
								
								</div>
							</div>
						</div>
		</div>
	
			</div>

		</div>
		<!--帖子评论  -->

		<div class="card ">
			<h5>评论区</h5>
			<div class="col-md-12">
				<!-- 判断是否已经登录 -->
				<div th:if="${session.user!=null}">
					<form action="commentAdd" v-on:submit.prevent="onCommentAdd"
						id="commentAdd">
						<input type="text" name="ccontent" id="ccontent" class="col-md-11" />
						<input type="hidden" name="cuid" id="cuid"
							th:value="${session.user.id}"> <input type="hidden"
							name="ccid" id="ccid" th:value="${card.id}"> <input
							type="submit" value="发表评论" />
					</form>
				</div>
				<div th:unless="${session.user!=null}">
					<!-- 没有登录弹出登录框 -->
					<input type="text" class="col-md-11" />
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#exampleModalCenter"
						style="background-color: white; border: none; color: #4D4D4D; margin-top: 3px">评论</button>

				</div>
			</div>
			<div class="card-body" th:if="${#lists.isEmpty(comments)}">暂无评论</div>
			<div class="card" th:unless="${#lists.isEmpty(comments)}"
				th:each="comment:${comments}">

				<div class="card-body" th:inline="text">
					<a style="color: red"><img alt=""
						th:src="@{'/upload/'+*{comment.user.photo}}" style="width: 30px"
						onerror="this.onerror='';src='/resources/userimage/default.jpg'" />[[${comment.user.name}]]</a>
					<hr />
					[[${comment.content}]]
					<div th:if="${session.user!=null}">
						<a th:if="${session.user.id==comment.uid}"
							th:href="@{'commentDel?comid='+${comment.id}}">删除</a>
					</div>
					<hr />
					<!-- 回复框 -->
					<div th:if="${session.user!=null}">
						<form action="replyAdd">
							<input type="button" class="col-md-1" value="回复" />
							<div id="replyContent" class="hiddenDiv" style="display: none">

								<input type="text" name="rcontent" id="rcontent"
									class="col-md-11" /> <input type="hidden" name="ruid"
									id="ruid" th:value="${session.user.id}"> <input
									type="hidden" name="rcomid" id="rcomid"
									th:value="${comment.id}"> <input type="hidden"
									name="rcid" id="rcid" th:value="${card.id}"> <input
									type="submit" value="回复" />
							</div>
						</form>
					</div>
					<div th:unless="${session.user!=null}">
						<!-- 没有登录弹出登录框 -->
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#exampleModalCenter"
							style="background-color: white; border: none; color: #4D4D4D; margin-top: 3px">回复</button>

					</div>
					<!-- 折叠效果 -->
					<a class="detailmain_a" href="javascript:void(0);"
						id="detailmain_a"> <span id="view_details">展开回复></span><i
						class="fa fa-angle-right"></i>
					</a>
					<div id="deal_info_box" class="deal_info_box" style="display: none">
						<div class="card-body text-right" th:inline="text"
							th:each="reply:${comment.replys}">
							<!-- 回复内容 -->
							<img alt="" th:src="@{'/upload/'+*{reply.user.photo}}"
								style="width: 30px"
								onerror="this.onerror='';src='/resources/userimage/default.jpg'" /><a
								style="color: black">[[${reply.user.name}]] </a>
							[[${reply.rdate}!=null?${#dates.format({reply.rdate},'yyyy-MM-dd')}:'']]<br>
							<a>[[${reply.content}]]</a>
							<hr />
						</div>

					</div>
				</div>
				<div class="col-md-12"></div>
			</div>
		</div>
		<!-- 模态对话框 -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true" data-backdrop="false">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header"
						style="background-color: rgb(73, 134, 208)">
						<h5 class="modal-title" id="exampleModalCenterTitle">
							<b style="font-style: inherit; color: white;">##社区</b>
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- 模态对话框内容 -->
						<div class="container-fluid" style="background-color: #F5F5F5;">
							<div class="row">
								<div class="col-md-12">

									<!-- 如果用户名或密码错了，给用户个提示  -->
									<div class="alert alert-primary offset-md-2" role="alert"
										th:text="${msg}"
										style="background-color: #F5F5F5; border-color: #F5F5F5;"></div>
									<form action="login" method="post">
										<div class="form-group row offset-md-2" id="nameIcon">

											<div class="col-sm-10">
												<span class="icon-pencil"></span>
												<!-- value="${param.name}",用户名回填 -->
												<span class="icon-user"></span> <input type="text"
													class="form-control" id="inputName" placeholder="用户名"
													name="name" th:value="${param.name!=null?param.name[0]:''}"
													required="required" style="padding-left: 30px" />
											</div>
										</div>
										<div class="form-group row offset-md-2" id="pwdIcon">

											<div class="col-sm-10">
												<span class="icon-lock"></span> <input type="password"
													class="form-control" id="inputPassword3" placeholder="密码"
													name="pwd" required="required" style="padding-left: 35px" />
											</div>

										</div>
										<div class="form-group row offset-md-2">
											<div class="col-sm-6">
												<!-- 验证码不需要提示功能，用autocomplete="off"来关闭，为on时打开 -->
												<input type="text" class="form-control" id="inputVcode"
													placeholder="验证码" name="vcode" maxlength="4"
													autocomplete="off" required="required" />
											</div>
											<div class="col-sm-4">

												<img title="点击更换图片" src="vcode.png" class="vcodeimg" /> <a
													class="vcodeimg">看不清，换一张</a>
											</div>
										</div>
										>
										<!-- 这里把验证码删去了 -->
										<div class="form-group row offset-md-2">
											<div class="col-sm-10">
												<button type="submit"
													class="btn btn-primary btn-lg btn-block"
													style="background-color: rgb(73, 134, 208)">登录</button>
											</div>
										</div>

										<div class="form-group row offset-md-2">
											<div class="col-sm-10" style="margin-top: 8px;">
												<a href="/toReg">立即注册</a>
											</div>
										</div>


									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">关闭</button>

					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="resources/bower_components/jquery/dist/jquery.min.js"></script> 
  <script type="text/javascript" src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> 
	<script type="text/javascript" th:inline="javascript">
	$(function(){

		 var theme=[[${#themes.code("themeName")}]];
		 var cid=[[${card.id}]];
	     $("#themeSel").val(theme);//点击的主题
	     $("#themeSel").change(function() {
	    			window.document.location.href ="/toCardContent?theme="+ this.options[this.selectedIndex].value+"&cid="+cid;
	    				});
		})
	</script>
	<script type="text/javascript">
	

	
	$(".col-md-1").click(function(){
		if($(this).next(".hiddenDiv").is(":hidden")){		
			$(this).next(".hiddenDiv").show();
			}else{
			$(this).next(".hiddenDiv").hide();
				}
		})
	
	$(".icon-thumbsup").click(function(){
		$(this).addClass(".active")
		});
	
	$(function view_details_click(){
		$(".detailmain_a").bind('click',function(){
			if($(this).next(".deal_info_box").is(":hidden")){
				$(this).next(".deal_info_box").show();
				
				$(this).find("#view_details").text("收起回复");
				$(this).find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
			}
			else{
				$(this).next(".deal_info_box").hide();
				$(this).find("#view_details").text("展开回复");
				$(this).find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
			}
		});
		
	});

	$(function () {   
	    /* 用于拖动div标签 */  
	    /* $( "#exampleModalCenter" ).draggable();  
	    /*  激活提示框 */  
	    /* $('#identifier').tooltip(options)  */
	       }); 

    $(function(){
    	$(".col-sm-4 .vcodeimg").click(function() {
			$(".col-sm-4 .vcodeimg").attr("src", "vcode.png?v=" + Math.random());
		});
        })
	</script>

	<script type="text/javascript">
	 var commentAdd=new Vue({
		  el: '#commentAdd',
		    data: {
		        //提供默认值
		        url:""
		    },
		    methods: {
		    	onCommentAdd:function(){
		    		var formData=new FormData();
					formData.append("ccontent",$("#ccontent").val());
					formData.append("cuid",$("#cuid").val());
					formData.append("ccid",$("#ccid").val());

					 axios.post("commentAdd",formData).then(function(response){
					    	commentAdd.url=response.data.url;
					    	window.location.href=response.data.url;
						    })
			    	},
			   
			    }

		 });
	</script>
		<script type="text/javascript">
	function showImg1(){
	    $('.bg_img').show();
	    $('.img').show();
	}
	function showImg2(){
	    $('.bg_img').show();
	    $('.img').show();
	}
	function showImg3(){
	    $('.bg_img').show();
	    $('.img').show();
	}
	$('.bg_img').click(function(){
	    $('.bg_img').hide();
	    $('.img').hide();
	});
	</script>
</body>
</html>