<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登录</title>
<!-- 响应式 -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link href="resources/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="resources/style.css" rel="stylesheet" type="text/css"/>

<style type="text/css">
.container-fluid.w-50 {
	position: fixed;
	left: 50%;
	top: 50%;
}
body{
	background-image: url("resources/img/bacg2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#pwdIcon span,#nameIcon span{
position:absolute;
    left:6%;
    top:10px;
    color: #4D4D4D;
}
#footercont a{color: #212529;}
.headimg{position: fixed;left:10px;top:-20px}

</style>
</head>

<body>
	<div class="col-md-12" style="background-color: #f5f5f5;height: 50px">
<div>
<div class="headimg">
	<img src="resources/img/lg.jpg"/>
<img src="resources/img/22.png"/>
</div>
	<ul class="nav justify-content-end">
  		<li class="nav-item"><a class="nav-link" href="/toReg" style="color: #4D4D4D;margin-right: -20px">注册</a></li>
  		<li class="nav-item"><a class="nav-link" href="/exit" style="color: #4D4D4D">主页</a></li>
    </ul>	
 </div>
	
</div>

	<div class="container-fluid w-50" style="background-color:#F5F5F5;">
		<div class="row">
			<div class="col-md-12">

				<!-- 如果用户名或密码错了，给用户个提示  -->
				<div class="alert alert-primary offset-md-2" role="alert" th:text="${msg}" style="background-color:#F5F5F5; border-color:#F5F5F5;"></div>
				<form action="login" method="post" id="loginForm">
					<div class="form-group row offset-md-2" id="nameIcon">
						<div class="col-sm-10">	
							<!-- value="${param.name}",用户名回填 -->
							<span class="icon-user"></span>
							<input type="text" class="form-control" id="inputName" placeholder="用户名" name="name" th:value="${param.name!=null?param.name[0]:''}" required="required" style="padding-left: 35px"/>
						</div>
					</div>
					<div class="form-group row offset-md-2" id="pwdIcon">

						<div class="col-sm-10" >
							<span class="icon-lock"></span> 
							<input type="password" class="form-control" id="inputPassword3" placeholder="密码" name="pwd" required="required" style="padding-left: 30px"/>
						</div>
					</div>
					<!-- vcode -->
					<div class="form-group row offset-md-2">
						
						<div class="col-sm-6">
						
							<!-- 验证码不需要提示功能，用autocomplete="off"来关闭，为on时打开 -->
							<input type="text" class="form-control" id="inputVcode" placeholder="验证码" name="vcode" maxlength="4" autocomplete="off" required="required"/>
						</div>
						<div class="col-sm-4">
							
							<img title="点击更换图片" src="vcode.png" class="vcodeimg" /> <a class="vcodeimg">看不清，换一张</a> 
						</div>
					</div>
					
					
					<div class="form-group row offset-md-2">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color:rgb(73,134,208)">登录</button>
						</div>
					</div>

					<div class="form-group row offset-md-2">
						<div class="col-sm-4" style="margin-top: 8px">
							<a href="/toReg">立即注册</a>
							
						</div>
					</div>
					
					


				</form>
			</div>
		</div>
		
	</div>
	
	<div class="footer" style="position:fixed;height: 80px;width:100%;bottom: 0;">
		<div style="text-align: center;" id="footercont">
			<a href="#" target="_blank" >关于论坛</a> |
			<a href="#" target="_blank" >广告服务</a> |
			<a href="#" target="_blank" >商务洽谈</a> |
			<a href="#" target="_blank" >联系方式</a> |
			<a href="#" target="_blank" >客服中心</a> |
			<a href="#" target="_blank" >网站导航</a> <br>
		</div>
		<div style="text-align: center;line-height: 80px;margin-top: -20px">
			 <p class="text-center" >Copyright © 2018-10-1 All rights reserved.</p>
		</div>
	
	
	</div>
	<script type="text/javascript" src="resources/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	//保证和位置无关
	$(function() {
		$(".col-sm-4 .vcodeimg").click(function() {
			console.log("=====================");
			$(".col-sm-4 .vcodeimg").attr("src", "vcode.png?v=" + Math.random());
		});


		//将登录框移动到中间位置
		$(".container-fluid.w-50").css({
				"margin-top":-$(".container-fluid.w-50").height()/2+"px",
				"margin-left":-$(".container-fluid.w-50").width()/2+"px"
			
			});
		

	});
	//2
	</script>

</body>
</html>