<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登录</title>
<!-- 响应式 -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link href="resources/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.container-fluid.w-50 {
	position: fixed;
	left: 50%;
	top: 50%;
}
</style>
</head>
<body>
	<div class="container-fluid w-50">
		<div class="row">
			<div class="col-md-12">

				<!-- 如果用户名或密码错了，给用户个提示  -->
				<div class="alert alert-primary offset-md-2" role="alert" th:text="${msg}" style="background-color: white; border-color: white;"></div>
				<form action="login" method="post">
					<div class="form-group row offset-md-2">

						<div class="col-sm-10">
							<span class="icon-pencil"></span>
							<!-- value="${param.name}",用户名回填 -->
							<input type="text" class="form-control" id="inputName" placeholder="用户名" name="name" th:value="${param.name!=null?param.name[0]:''}" required="required"/>
						</div>
					</div>
					<div class="form-group row offset-md-2">

						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="密码" name="pwd" required="required"/>
						</div>
					</div>

					<div class="form-group row offset-md-2">

						<div class="col-sm-6">
							<!-- 验证码不需要提示功能，用autocomplete="off"来关闭，为on时打开 -->
							<input type="text" class="form-control" id="inputVcode" placeholder="验证码" name="vcode" maxlength="4" autocomplete="off" required="required"/>
						</div>
						<div class="col-sm-4">
							<img title="点击更换图片" src="vcode.png" class="vcodeimg" /> <a class="vcodeimg">看不清，换一张</a>
						</div>
					</div>
					<div class="form-group row offset-md-2">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
						</div>
					</div>

					<div class="form-group row offset-md-2">
						<div class="col-sm-4" style="margin-top: 8px">
							<a href="/toReg">立即注册</a>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="resources/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		//保证和位置无关
		$(function() {
			$(".col-sm-4 .vcodeimg").click(function() {
				$(".col-sm-4 .vcodeimg").attr("src", "vcode.png?v=" + Math.random());
			});


			//将登录框移动到中间位置
			$(".container-fluid.w-50").css({
					"margin-top":-$(".container-fluid.w-50").height()/2+"px",
					"margin-left":-$(".container-fluid.w-50").width()/2+"px"
				
				});			

		});
		
	</script>




</body>
</html>