<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>注册</title>
<!-- 响应式 -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link href="resources/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="resources/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="resources/bower_components/axios/dist/axios.js"></script>
<script type="text/javascript" src="resources/bower_components/vue/dist/vue.js">
</script>
<style type="text/css">
.container-fluid.w-50 {
	position: fixed;
	left: 50%;
	top: 50%;
}
#pwdIcon span,#nameIcon span{
position:absolute;
    left:4%;
    top:10px;
    color: #4D4D4D;
}
#footercont{
	color: #4D4D4D
}
body{
background-image: url("resources/img/bacg2.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;

 }
#footercont a{color: #212529;}
.headimg{position: fixed;left:10px;top:-20px}
#logo{
background-color:#E5E5E5;
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}
</style>
</head>
<body>
	<div class="col-md-12" style="height: 50px" id="logo">
<div>
<div class="headimg">
	<img src="resources/img/lg.jpg"/>
<img src="resources/img/22.png"/>
</div>
	<ul class="nav justify-content-end">
  		<li class="nav-item"><a class="nav-link" href="/toLogin" style="color: #4D4D4D;margin-right: -20px">登录</a></li>
  		<li class="nav-item"><a class="nav-link" href="/exit" style="color: #4D4D4D">主页</a></li>
    </ul>	
 </div>
	
</div>

	
	<div class="container-fluid w-50" style="background-color:#F5F5F5;">
		<div class="row">
		
			<div class="col-md-12">

				<!-- 如果用户名或密码错了，给用户个提示  -->
				<div class="alert alert-primary" role="alert" th:text="${msg}" style="background-color: #F5F5F5; border-color:#F5F5F5;"></div>
				<!-- email -->
				<form action="sendEmail" method="post" enctype="multipart/form-data" target="rfFrame">
							<!-- target="rfFrame" -->					
					<div class="form-group row">								
							<label for="inputEmail" class="col-sm-2 col-form-label">邮箱</label>
							<div class="col-sm-7">
								<input type="email" id="inputEmail" name="receiver" class="form-control" placeholder="xx...xx@qq.com" required="required"th:value="${param.receiver!=null?param.receiver[0]:''}" />				
							
							</div>
							<div class="col-sm-3">													
								<button type="submit">获取证码</button> 
						</div>
					</div>
				</form><iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe> 


				<form action="reg" method="post"  id="regForm" enctype="multipart/form-data" style="margin-top: -20px;">
					<!-- vcode -->
					<div class="form-group row ">
						<label for="inputVcode" class="col-sm-2 col-form-label">验证码</label>
						<div class="col-sm-10">						
							<!-- 验证码不需要提示功能，用autocomplete="off"来关闭，为on时打开 -->
							<input type="text" class="form-control" id="inputVcode" placeholder="验证码" name="vcode" maxlength="4" autocomplete="off" required="required"/>
						</div>												
					</div>
					<!-- name -->
					<div class="form-group row " id="nameIcon">
						<label for="inputName" class="col-sm-2 col-form-label" >用户名</label>
						<div class="col-sm-10">
							<!-- value="${param.name}",用户名回填 -->
							<span class="icon-user"></span>
							<span class="icon-pencil"></span>
							<input  type="text" class="form-control" id="inputName" placeholder="用户名" name="name" v-bind:value="name" required="required" style="padding-left: 35px"/>
						</div>
					</div>
					<!-- pwd -->
					<div class="form-group row " id="pwdIcon">
						<label for="inputPassword3" class="col-sm-2 col-form-label">密码</label>
						<div class="col-sm-10">
							<span class="icon-lock"></span> 
							<input type="password" class="form-control" id="inputPassword3" placeholder="密码" name="pwd" required="required" style="padding-left: 30px"/>
						</div>
					</div>
					<!-- descri -->
					<div class="form-group row ">
						<label for="inputDescri" class="col-sm-2 col-form-label">描述</label>
						<div class="col-sm-10">
							<textarea rows="" cols="" class="form-control" id="inputDescri" placeholder="描述" name="descri"></textarea>
						</div>
					</div>
					<!-- photo -->
					<div class="form-group row">
						<label for="inputPhoto" class="col-sm-2 col-form-label">图片</label>
						<div class="col-sm-10">
							<input type="file" id="inputPhoto" name="photop" class="form-control" required="required" />
						</div>
					</div>																		
					

					<button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color:rgb(73,134,208);h">同意服务条款并注册</button>					

				</form>
				
			</div>
		</div>
	</div>
	<!-- background-color:#e5e5e5; -->
	<div class="footer" style="position:fixed;height: 80px;width:100%;bottom: 0;">
		<div style="text-align: center;" id="footercont">
			<a href="#" target="_blank" >关于论坛</a> |
			<a href="#" target="_blank" >广告服务</a> |
			<a href="#" target="_blank" >商务洽谈</a> |
			<a href="#" target="_blank" >联系方式</a> |
			<a href="#" target="_blank" >客服中心</a> |
			<a href="#" target="_blank" >网站导航1</a> <br>
		</div>
		<div style="text-align: center;line-height: 80px;margin-top: -20px">
			 <p class="text-center" >Copyright © 2018-10-1 All rights reserved.</p>
		</div>
	
	
	</div>
	<div id="mask" style="position: fixed;top: 0px;left: 0px; width: 100%;height: 100%;background-color: rgba(255,255,0,0.5);display: none;">
		<img src="resources/img/jiazai.gif"/>
	</div>
	<script type="text/javascript" src="resources/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		//保证和位置无关
		$(function() {
			$(".col-sm-4 .vcodeimg").click(function() {
				console.log("=====================");
				$(".col-sm-4 .vcodeimg").attr("src", "vcode.png?v=" + Math.random());
			});
			

			//将登录框移动到中间位置
			$(".container-fluid.w-50").css({
					"margin-top":-$(".container-fluid.w-50").height()/2+"px",
					"margin-left":-$(".container-fluid.w-50").width()/2+"px"
				
				});
			

		});

	
		

		
	</script>
	


</body>
</html>