<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>注册</title>
<!-- 响应式 -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- 动态背景 -->
<link href="resources/bower_components/regbc/fly.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="resources/bower_components/regbc/paper-full.min.js"></script>
<script type="text/javascript" src="resources/bower_components/regbc/fly.js"></script>
<!-- 动态背景 结束-->
<link href="resources/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="resources/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="resources/bower_components/axios/dist/axios.js"></script>
<script type="text/javascript" src="resources/bower_components/vue/dist/vue.js">
</script>
<style type="text/css">
.container-fluid.w-50 {
	position: fixed;
	left: 50%;
	top: 50%;
	background-color: rgba(63,62,60,0.0);
}
#pwdIcon span,#nameIcon span{
position:absolute;
    left:4%;
    top:10px;
    color: #4D4D4D;
}
#footercont{
	color: #6C757D
}
#footercont a{color: #6C757D;}
.headimg{position: fixed;left:10px;top:-20px}
#logo{
background-color:#E5E5E5;
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}
.col-sm-2.col-form-label{padding-left: 40px;}
canvas{width: 100%;height: 100%}
input,textarea{opacity:0.2;}
button{opacity:0.7;}
label{color: #6C757D}
</style>
</head>
<body>
<!--动态背景 -->
<canvas id="triangle-lost-in-space" resize="true"></canvas>
<!-- 动态背景结束 -->
	<div class="col-md-12" style="height: 50px" id="logo">
<div>
<div class="headimg">
	<img src="resources/img/photo5.jpg"style="width: 80px;height: 70px;position: fixed;left: 8px;top: 5px"/>
	<img src="resources/img/22.png" style="margin-left: 90px;margin-top: 10px"/>
</div>
<div style="position: fixed;right: 20px;top: 5px">
	<ul class="nav justify-content-end">
  		<li class="nav-item"><a class="nav-link" href="/toLogin" style="color: #6C757D;margin-right: -20px">登录</a></li>
  		<li class="nav-item"><a class="nav-link" href="/exit" style="color: #6C757D">主页</a></li>
    </ul>	
    </div>
 </div>
	
</div>

	
	<div class="container-fluid w-50">
		<div class="row">
		
			<div class="col-md-12">

				<!-- 如果用户名或密码错了，给用户个提示  -->
				<div class="alert alert-primary" role="alert" th:text="${msg}" style="background-color: rgba(63,62,60,0.0); border-color:rgba(63,62,60,0.0);"></div>
				<!-- email -->
				<form action="sendEmail" method="post" enctype="multipart/form-data" target="rfFrame" >
							<!-- target="rfFrame" -->					
					<div class="form-group row">								
							<label for="inputEmail" class="col-sm-2 col-form-label">邮箱</label>
							<div class="col-sm-7">
								<input type="email" id="inputEmail" name="receiver" class="form-control" placeholder="xx...xx@qq.com" required="required"th:value="${param.receiver!=null?param.receiver[0]:''}" />				
							
							</div>
							<div class="col-sm-3">													
								<button type="submit">获取证码</button> 
						</div>
					</div>
				</form><iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe> 


				<form action="reg" method="post"  id="regForm" enctype="multipart/form-data" style="margin-top: -20px;">
					<!-- vcode -->
					<div class="form-group row ">
						<label for="inputVcode" class="col-sm-2 col-form-label">验证码</label>
						<div class="col-sm-10">						
							<!-- 验证码不需要提示功能，用autocomplete="off"来关闭，为on时打开 -->
							<input type="text" class="form-control" id="inputVcode" placeholder="验证码" name="vcode" maxlength="4" autocomplete="off" required="required"/>
						</div>												
					</div>
					<!-- name -->
					<div class="form-group row " id="nameIcon">
						<label for="inputName" class="col-sm-2 col-form-label">用户名</label>
						<div class="col-sm-10">
							<!-- value="${param.name}",用户名回填 -->
							<span class="icon-user"></span>
							<input  type="text" class="form-control" id="inputName" placeholder="用户名" name="name" v-bind:value="name" required="required" style="padding-left: 35px"/>
						</div>
					</div>
					<!-- pwd -->
					<div class="form-group row " id="pwdIcon">
						<label for="inputPassword3" class="col-sm-2 col-form-label">密码</label>
						<div class="col-sm-10">
							<span class="icon-lock"></span> 
							<input type="password" class="form-control" id="inputPassword3" placeholder="密码" name="pwd" required="required" style="padding-left: 30px"/>
						</div>
					</div>
					<!-- descri -->
					<div class="form-group row ">
						<label for="inputDescri" class="col-sm-2 col-form-label">描述</label>
						<div class="col-sm-10">
							<textarea rows="" cols="" class="form-control" id="inputDescri" placeholder="描述" name="descri"></textarea>
						</div>
					</div>
					<!-- photo -->
					<div class="form-group row">
						<label for="inputPhoto" class="col-sm-2 col-form-label">图片</label>
						<div class="col-sm-10">
							<input type="file" id="inputPhoto" name="photop" class="form-control" required="required" />
						</div>
					</div>																		
					

					<button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color:rgb(73,134,208);h">同意服务条款并注册</button>					

				</form>
				
			</div>
		</div>
	</div>
	<!-- background-color:#e5e5e5; -->
	<div class="footer" style="position:fixed;height: 80px;width:100%;bottom: 0;">
		<div style="text-align: center;" id="footercont">
			<a href="#" target="_blank" >关于论坛</a> |
			<a href="#" target="_blank" >广告服务</a> |
			<a href="#" target="_blank" >商务洽谈</a> |
			<a href="#" target="_blank" >联系方式</a> |
			<a href="#" target="_blank" >客服中心</a> |
			<a href="#" target="_blank" >网站导航</a> <br>
		</div>
		<div style="text-align: center;line-height: 80px;margin-top: -20px;color: #6C757D">
			 <p class="text-center" >Copyright © 2018-10-1 All rights reserved.</p>
		</div>
	
	
	</div>
	<div id="mask" style="position: fixed;top: 0px;left: 0px; width: 100%;height: 100%;background-color: rgba(255,255,0,0.5);display: none;">
		<img src="resources/img/jiazai.gif"/>
	</div>
	<script type="text/javascript" src="resources/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		//保证和位置无关
		$(function() {
			$(".col-sm-4 .vcodeimg").click(function() {
				console.log("=====================");
				$(".col-sm-4 .vcodeimg").attr("src", "vcode.png?v=" + Math.random());
			});
			

			//将登录框移动到中间位置
			$(".container-fluid.w-50").css({
					"margin-top":-$(".container-fluid.w-50").height()/2+"px",
					"margin-left":-$(".container-fluid.w-50").width()/2+"px"
				
				});
		});
	
	</script>
	<!-- 动态背景 -->
	<script type="text/javascript">
		paper.install(window);
		var SQRT_3 = Math.pow(3, 0.5);
		var triangle, D, mousePos, position;
		var count = 50;

		window.onload = function() {
		  paper.setup('triangle-lost-in-space');

		  D = Math.max(paper.view.getSize().width, paper.view.getSize().height);

		  mousePos = paper.view.center.add([view.bounds.width / 3, 100]);
		  position = paper.view.center;

		  // Draw the BG
		  var background = new Path.Rectangle(view.bounds);
		      background.fillColor = '#3B3251';
		  buildStars();
		  triangle = new Triangle(50);

		  paper.view.draw();

		  paper.view.onFrame = function(event) {
		    position = position.add( (mousePos.subtract(position).divide(10) ) );
		    var vector = (view.center.subtract(position)).divide(10);
		    moveStars(vector.multiply(3));
		    triangle.update();
		  };
		};
		// ---------------------------------------------------
		//  Helpers
		// ---------------------------------------------------
		window.onresize = function() {
		  project.clear();
		  D = Math.max(paper.view.getSize().width, paper.view.getSize().height);
		  // Draw the BG
		  var background = new Path.Rectangle(view.bounds);
		      background.fillColor = '#3B3251';
		  buildStars();
		  triangle.build(50);
		};

		var random = function(minimum, maximum) {
		  return Math.round(Math.random() * (maximum - minimum) + minimum);
		};

		var map = function (n, start1, stop1, start2, stop2) {
		  return (n - start1) / (stop1 - start1) * (stop2 - start2) + start2;
		};
		// ---------------------------------------------------
		//  Triangle
		// ---------------------------------------------------
		var Triangle = function(a) {
		  this.build(a);
		};

		Triangle.prototype.build = function(a) {
		  // The points of the triangle
		  var segments = [new paper.Point(0, -a / SQRT_3),
		                  new paper.Point(-a/2, a * 0.5 / SQRT_3),
		                  new paper.Point(a/2, a * 0.5 / SQRT_3)];

		  this.flameSize = a / SQRT_3;
		  var flameSegments = [new paper.Point(0, this.flameSize),
		                       new paper.Point(-a/3, a * 0.4 / SQRT_3),
		                       new paper.Point(a/3, a * 0.4 / SQRT_3)];

		  this.flame = new Path({
		    segments: flameSegments,
		    closed: true,
		    fillColor: '#FCE589'
		  });
		  this.ship = new Path({
		    segments: segments,
		    closed: true,
		    fillColor: '#FF7885'
		  });
		  this.group = new Group({
		    children: [this.flame, this.ship],
		    position: view.center
		  });
		};

		Triangle.prototype.update = function() {
		  this.flame.segments[0].point.x = random(this.flame.segments[1].point.x, this.flame.segments[2].point.x);

		  var dist = mousePos.subtract(paper.view.center).length;
		  var angle = mousePos.subtract(paper.view.center).angle;
		  var spread = map(dist, 0, D/2, 10, 30);

		  this.flame.segments[0].point = paper.view.center.subtract(new Point({
		    length: map(dist, 0, D/2, 2*this.flameSize/3, this.flameSize),
		    angle: random(angle - spread, angle + spread)
		  }));
		};

		Triangle.prototype.rotate = function() {
		  var angle = paper.view.center.subtract(mousePos).angle - paper.view.center.subtract(this.ship.segments[0].point).angle;

		  this.group.rotate(angle, paper.view.center);
		};
		// ---------------------------------------------------
		//  Stars (from paperjs.org examples section)
		// ---------------------------------------------------
		window.onmousemove = function(event) {
		  mousePos.x = event.x;
		  mousePos.y = event.y;
		  triangle.rotate();
		};

		var buildStars = function() {
		  // Create a symbol, which we will use to place instances of later:
		  var path = new Path.Circle({
		    center: [0, 0],
		    radius: 5,
		    fillColor: 'white',
		    strokeColor: 'white'
		  });

		  var symbol = new Symbol(path);

		  // Place the instances of the symbol:
		  for (var i = 0; i < count; i++) {
		    // The center position is a random point in the view:
		    var center = Point.random().multiply(paper.view.size);
		    var placed = symbol.place(center);
		    placed.scale(i / count + 0.01);
		    placed.data = {
		      vector: new Point({
		        angle: Math.random() * 360,
		        length : (i / count) * Math.random() / 5
		      })
		    };
		  }

		  var vector = new Point({
		    angle: 45,
		    length: 0
		  });
		};

		var keepInView = function(item) {
		  var position = item.position;
		  var viewBounds = paper.view.bounds;
		  if (position.isInside(viewBounds))
		    return;
		  var itemBounds = item.bounds;
		  if (position.x > viewBounds.width + 5) {
		    position.x = -item.bounds.width;
		  }

		  if (position.x < -itemBounds.width - 5) {
		    position.x = viewBounds.width;
		  }

		  if (position.y > viewBounds.height + 5) {
		    position.y = -itemBounds.height;
		  }

		  if (position.y < -itemBounds.height - 5) {
		    position.y = viewBounds.height
		  }
		};

		var moveStars = function(vector) {
		  // Run through the active layer's children list and change
		  // the position of the placed symbols:
		  var layer = project.activeLayer;
		  for (var i = 1; i < count + 1; i++) {
		    var item = layer.children[i];
		    var size = item.bounds.size;
		    var length = vector.length / 10 * size.width / 10;
		    item.position = item.position.add( vector.normalize(length).add(item.data.vector));
		    keepInView(item);
		  }
		};
	</script>
	
</body>
</html>