<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
<title>用户信息</title>
<style type="text/css">
#wode{
color: cornflowerblue;
}
#themeSel{
    background-color: rgba(0.0.0.0);
    color: aqua;
}
#myinput{
 background-color: rgba(0.0.0.0);
}
</style>
</head>
<body>
<!--  顶部--> 
       <div style="background-color: rgba(0, 0, 0, 0.5);">
       <div th:replace="front/commen/top::top"></div>
       </div>
    <!-- 顶部 --> 
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2" style="margin-left: 40px">
		<!-- 左边部分 -->
		<div th:replace="front/commen/left::userleft"></div>
		</div>
		<div class="col-md-9">
		<div class="card-header text-center" style="color: tomato;font-weight: bold;background-color: rgba(0, 0, 0, 0.3);">基本信息</div>
			<form th:action="@{/front/userEdit}" method="post" enctype="multipart/form-data" th:object="${user}">
				<ul class="list-group list-group-flush">
	  				<li class="list-group-item" style="background-color: transparent;color:white">用户名：<div style="display:inline;" >
	  						<input th:field="*{name}" class="form-control" style="display:inline;width:100px;BACKGROUND-COLOR:transparent;color: white;" />
	  					</div></li>
	  				<li class="list-group-item" style="background-color: transparent;color:white;">头像：<div style="display:inline;">
	  					<img alt="" th:src="@{'/upload/'+*{photo}}" style="width: 100px"onerror="this.onerror='';src='/resources/userimage/default.jpg'"/>
	  						<input type="file" class="custom-file-input" name="photox" id="customFile" style="width: 0%;"/>
	  						<label class="custom-file-label" for="customFile"style="width: 200px;margin-left: 190px;margin-top: 25px;BACKGROUND-COLOR: transparent;color: white;"></label>
	  					</div></li>
	 			 	<li class="list-group-item" style="background-color: transparent;color:white">个人签名：<div style="display:inline;">
	 			 			<textarea th:field="*{descri}" class="form-control" style="BACKGROUND-COLOR: transparent;color: white;"></textarea>
	 			 		</div></li>
				</ul>
				<div class="text-center">
					<input th:field="*{id}"type="hidden" />
					<button type="submit" class="btn btn-success" style="margin: 8px">提交</button>
				</div>
			</form>
		</div>
	</div>
</div>
<canvas id='c' style="position:absolute;z-index:-1;top:0;left:0;background-color:black;"></canvas>
<script type="text/javascript" src="/resources/bower_components/bootstrap/dist/js/bootstrap.min.js">
</script>
<script type="text/javascript" src="/resources/fonts/backjs_1.js"></script>
</body>
</html>